:root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
    height: 15vh;
    background: black;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
  }
  
  nav {
    margin: 1%;
    height: 5vh;
    padding-right: 3%;
    background: black;
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    align-content: center;
  }
  
  video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 90%;
    height: 90%;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: black;
    background-size: cover; 
  }
  
  body {
    margin: 0;
  }
  
  main {
    background: rgba(black, 0.66);
    color: white;
    position: relative;
    width: 100vw;
    height: 65vh;
    margin-top: 20vh;
  }

  .viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    font-size: 10vw;
    letter-spacing: 1.3vw;
    color: white;
  }
  
  button {
    height: 50px;
    width: 100px;
    background: rgb(44, 44, 44);
    color: white;
    margin: 1%;
  }

.title{text-align:center;
    padding: 10px 40px;
    margin: 20px auto;
    width: 30%;
    background-image: linear-gradient(to left, #555, #222);
    border: 2px solid blue;
    text-shadow: 0 0 2px blue;
    border-radius: 20px;
}

.title:hover{
    color: white;
    box-shadow: 0 0 20px purple;
    text-shadow: 0 0 5px green;
}

.favorites{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.row{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 3px solid black;
    background: rgba(255, 255, 255, 0.502);
}

.row img{
    width: 86px;
    height: 86px;
    margin: 5px;
    box-shadow: 0 0  20px white;
    border-radius: 20px;
}

.row img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px whitesmoke;
}

.img{
    width: 20px;
    margin: 10px;
    height: 20px;
}

.text{
    width: 100px;
    height: 100px;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.listul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 70vw;
}
.star {
    position: absolute;
    right: 15vw;
}

.Favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageheader {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 16px);
    padding: 8px;
    align-self: flex-start;
    position: absolute;
    left: 0;
    top: 0;
}

header h1 {
    color: darkgray;
    font-size: 1vw;
    letter-spacing: 1vw;
    padding-left: 1%;
  }

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
  }

span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10vw;
    letter-spacing: -1.3vw;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    background-color: black;
    color: rgba(255, 255, 255, 0.477);
    letter-spacing: 0.7vw;
    text-align: center;
    align-content: center;
  }