body{
    margin: 20px;;
    padding: 20px;;
    background-color: #DFDBCD;
}

.row{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 3px solid black;
}

.row img{
    width: 86px;
    height: 86px;
    margin: 5px;
    box-shadow: 0 0  20px white;
    border-radius: 20px;
}

.row img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px whitesmoke;
}

.img{
    width: 20px;
    margin: 10px;
    height: 20px;
}

.text{
    width: 100px;
    height: 100px;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.listul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 70vw;
}
.star {
    position: absolute;
    right: 15vw;
}

.Favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pageheader {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 16px);
    padding: 8px;
    align-self: flex-start;
    position: absolute;
    left: 0;
    top: 0;
}

h1 {
    color: white;
}

#pagefooter {
    position: absolute;
    left: 0;
    background-color: black;
    bottom: 0px;
    padding: 8px;
    width: calc(100vw - 16px);
}
#pagefooter > h3 {
    color: white;
    text-align: center;
}